@font-face {
  font-family: SFProRounded;
  src: url("@/assets/fonts/SF-Pro-Rounded-Medium.woff2") format("woff2"),
  url("@/assets/fonts/SF-Pro-Rounded-Medium.otf") format("truetype");
}
@font-face {
  font-family: SFProRounded-Black;
  src: url("@/assets/fonts/SF-Pro-Rounded-Black.woff2") format("woff2"),
  url("@/assets/fonts/SF-Pro-Rounded-Black.otf") format("truetype");
}
@font-face {
  font-family: SFProRounded-Bold;
  src: url("@/assets/fonts/SF-Pro-Rounded-Bold.woff2") format("woff2"),
  url("@/assets/fonts/SF-Pro-Rounded-Bold.otf") format("truetype");
}
@font-face {
  font-family: SFProRounded-Heavy;
  src: url("@/assets/fonts/SF-Pro-Rounded-Heavy.woff2") format("woff2"),
  url("@/assets/fonts/SF-Pro-Rounded-Heavy.otf") format("truetype");
}
@font-face {
  font-family: SFProRounded-Regular;
  src: url("@/assets/fonts/SF-Pro-Rounded-Regular.woff2") format("woff2"),
  url("@/assets/fonts/SF-Pro-Rounded-Regular.otf") format("truetype");
}
@font-face {
  font-family: SFProRounded-Semibold;
  src: url("@/assets/fonts/SF-Pro-Rounded-Semibold.woff2") format("woff2"),
  url("@/assets/fonts/SF-Pro-Rounded-Semibold.otf") format("truetype");
}
@font-face {
  font-family: SFProRounded-Thin;
  src: url("@/assets/fonts/SF-Pro-Rounded-Thin.woff2") format("woff2"),
  url("@/assets/fonts/SF-Pro-Rounded-Thin.otf") format("truetype");
}
